<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mapper.AnadirMapper'>

	<insert id="insertParticipante">
		insert into
			participacion(id_moto,id_piloto)
		values
			(#{id_moto},#{id_piloto});
	</insert>
	
	<insert id="insertMotocicleta">
		INSERT INTO 
			motocicleta (matricula,marca,tuboEscape) 
		VALUES 
			(#{moto.matricula},#{moto.marca},#{moto.tuboEscape});
	</insert>
	
	<insert id="insertPiloto">
		INSERT INTO 
			piloto (DNI,nombre,apellido,edad,peso,altura) 
		VALUES 
			(#{pilot.DNI},#{pilot.nombre},#{pilot.apellido},#{pilot.edad},#{pilot.peso},#{pilot.altura});
	</insert>
	
	<insert id="insertCircuito">
		INSERT INTO 
			circuito (localidad,distancia,recta) 
		VALUES 
			(#{circuito.localidad}, #{circuito.distancia}, #{circuito.recta});
	</insert>
	
	<insert id="insertTorneo">
		INSERT INTO 
			torneo (participantes,id_circuito,nombre) 
		VALUES 
			(#{torneo.participantes},#{torneo.id_circuito},#{torneo.nombre});
	</insert>
	
	<insert id="insertCarrera">
		INSERT INTO 
			carrera (id_torneo,nivel,ronda) 
		VALUES 
			(#{carrera.id_torneo},#{carrera.nivel},#{carrera.ronda});
	</insert>
	
	<insert id="insertParticipacion">
		INSERT INTO 
			participacion (id_moto,id_piloto,id_carrera) 
		VALUES 
			(#{part.id_moto},#{part.id_piloto},#{part.id_carrera});
	</insert>
	
	<insert id="insertMultimediaMoto">
		INSERT INTO 
			multimedia_motocicleta (motocicleta, foto1) 
		VALUES 
			(#{moto}, #{foto});
	</insert>
	
	<insert id="insertMultimediaCircuito">
		INSERT INTO 
			multimedia_circuito (circuito, foto1) 
		VALUES 
			(#{circuito}, #{foto});
	</insert>
	
	<insert id="insertMultimediaPiloto">
		INSERT INTO 
			multimedia_piloto (piloto, foto1) 
		VALUES 
			(#{piloto}, #{foto});
	</insert>
</mapper>