<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mapper.BaseMapper'>

	<resultMap type='Torneo' id='TorneoResult'>
		<id property='ID' column='ID' />
		<result property='rondas' column='rondas' />
		<result property='id_circuito' column='id_circuito' />
		<result property='nombre' column='nombre' />
	</resultMap>
	
	<select id='getTorneos' resultMap='TorneoResult'>
		select * from torneo;
	</select>
	
	
	
	<resultMap type='Motocicleta' id='MotocicletaResult'>
		<id property='matricula' column='matricula' />
		<result property='marca' column='marca' />
		<result property='tuboEscape' column='tuboEscape' />
	</resultMap>
	
	<select id='getMotocicletas' resultMap='MotocicletaResult'>
		select * from motocicleta;
	</select>
	
	<select id='getMotocicletaFromMatricula' resultMap='MotocicletaResult'>
		select * from motocicleta where matricula = #{matricula};
	</select>
	
	
	
	<resultMap type='Piloto' id='PilotoResult'>
		<id property='DNI' column='DNI' />
		<result property='nombre' column='nombre' />
		<result property='apellido' column='apellido' />
		<result property='edad' column='edad' />
		<result property='peso' column='peso' />
		<result property='sexo' column='sexo' />
		<result property='altura' column='altura' />
	</resultMap>
	
	<select id='getPilotos' resultMap='PilotoResult'>
		select * from piloto;
	</select>
	
	<select id='getPilotoFromDni' resultMap='PilotoResult'>
		select * from piloto where DNI = #{dni};
	</select>
	
	
	
	
	
	<insert id="insertParticipante">
		insert into
			participacion(id_moto,id_piloto)
		values
			(#{id_moto},#{id_piloto});
	</insert>
	
	<insert id="insertMotocicleta">
		INSERT INTO 
			motocicleta (matricula,marca,tuboEscape) 
		VALUES 
			(#{moto.matricula},#{moto.marca},#{moto.tuboEscape});
	</insert>
	
	<insert id="insertPiloto">
		INSERT INTO 
			piloto (DNI,nombre,apellido,edad,peso,sexo,altura) 
		VALUES 
			(#{DNI},#{nombre},#{apellido},#{edad},#{peso},#{sexo},#{altura});
	</insert>

</mapper>