<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mapper.BaseMapper'>

	<resultMap type='Torneo' id='TorneoResult'>
		<id property='ID' column='ID' />
		<result property='participantes' column='participantes' />
		<result property='id_circuito' column='id_circuito' />
		<result property='nombre' column='nombre' />
	</resultMap>
	
	<select id='getTorneos' resultMap='TorneoResult'>
		select * from torneo;
	</select>
	
	<select id='getTorneoByName' resultMap='TorneoResult'>
		select * from torneo where nombre = #{nombre};
	</select>
	
	<select id='getTorneoById' resultMap='TorneoResult'>
		select * from torneo where ID = #{id};
	</select>
	
	
	<resultMap type='Circuito' id='CircuitoResult'>
		<id property='ID' column='ID' />
		<result property='localidad' column='localidad' />
		<result property='distancia' column='distancia' />
		<result property='recta' column='recta' />
	</resultMap>
	
	<select id='getCircuito' resultMap='CircuitoResult'>
		select * from circuito;
	</select>
	
	<select id='getCircuitoFromId' resultMap='CircuitoResult'>
		select * from circuito where ID = #{circuito};
	</select>
	
	
	
	<resultMap type='Motocicleta' id='MotocicletaResult'>
		<id property='matricula' column='matricula' />
		<result property='marca' column='marca' />
		<result property='tuboEscape' column='tuboEscape' />
	</resultMap>
	
	<select id='getMotocicletas' resultMap='MotocicletaResult'>
		select * from motocicleta;
	</select>
	
	<select id='getMotocicletaFromMatricula' resultMap='MotocicletaResult'>
		select * from motocicleta where matricula = #{matricula};
	</select>
	
	
	
	<resultMap type='Piloto' id='PilotoResult'>
		<id property='DNI' column='DNI' />
		<result property='nombre' column='nombre' />
		<result property='apellido' column='apellido' />
		<result property='edad' column='edad' />
		<result property='peso' column='peso' />
		<result property='altura' column='altura' />
	</resultMap>
	
	<select id='getPilotos' resultMap='PilotoResult'>
		select * from piloto;
	</select>
	
	<select id='getPilotoFromDni' resultMap='PilotoResult'>
		select * from piloto where DNI = #{dni};
	</select>
	
	
	
	<resultMap type='Carrera' id='CarreraResult'>
		<id property='ID' column='ID' />
		<result property='id_torneo' column='id_torneo' />
		<result property='nivel' column='nivel' />
		<result property='ronda' column='ronda' />
		<result property='posicion' column='posicion' />
		<result property='ganador' column='ganador' />
	</resultMap>
	
	<select id='getCarrerasByTorneo' resultMap='CarreraResult'>
		select 
			* 
		from 
			carrera 
		where 
			id_torneo = #{torneo};
	</select>
	
	<select id='getCarreraEspecifica' resultMap='CarreraResult'>
		select 
			* 
		from 
			carrera 
		where 
			nivel = #{nivel} and 
			ronda = #{ronda} and 
			id_torneo = #{torneo};
	</select>
	
	<select id='getCarreraById' resultMap='CarreraResult'>
		select 
			* 
		from 
			carrera 
		where 
			ID = #{id};
	</select>
	
	<select id='getCarrerasTorneoRondas' resultMap='CarreraResult'>
		select 
			* 
		from 
			carrera 
		where 
			id_torneo = #{torneo} and 
			ronda = #{ronda};
	</select>
	
	
	<resultMap type='Participacion' id='ParticipacionResult'>
		<id property='ID' column='ID' />
		<result property='id_moto' column='id_moto' />
		<result property='id_piloto' column='id_piloto' />
		<result property='id_carrera' column='id_carrera' />
		<result property='mejorVuelta' column='mejorVuelta' />
	</resultMap>
	
	<select id='getParticipacionesByIdCarrera' resultMap='ParticipacionResult'>
		select 
			*
		from
			participacion
		where
			id_carrera = #{carrera};
	</select>
	
	<select id='getParticipacionById' resultMap='ParticipacionResult'>
		select 
			*
		from
			participacion
		where
			ID = #{id};
	</select>
	
	
	<resultMap type='Usuario' id='UsuarioResult'>
		<id property='ID' column='ID' />
		<result property='nombre' column='nombre' />
		<result property='apellidos' column='apellidos' />
		<result property='usuario' column='usuario' />
		<result property='contrasena' column='contrasena' />
		<result property='piloto' column='piloto' />
		<result property='mail' column='mail' />
		<result property='telefono' column='telefono' />
	</resultMap>
	
	<select id='getUsuario' resultMap='UsuarioResult'>
		select 
			* 
		from 
			usuario 
		where 
			ID = #{id};
	</select>
</mapper>