<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='modelo.dao.mapper.RecordsMapper'>
	
	<resultMap type='MejorVueltaCircuito' id='MejorVueltaCircuitoResult'>
		<result property='mejorVuelta' column='mejorVuelta' />
		<result property='id_circuito' column='id_circuito' />
	</resultMap>
	
	<select id='getMejorVueltaCircuitoById' resultMap='MejorVueltaCircuitoResult'>
		select 
			participacion.mejorVuelta, circuito.ID as id_circuito
		from 
			participacion
		inner join carrera on participacion.id_carrera = carrera.ID
		inner join torneo on carrera.id_torneo = torneo.ID
		inner join circuito on torneo.id_circuito = circuito.ID
		where 
			id_circuito = #{id}
		order by 
			mejorVuelta desc
		limit 1;
	</select>
	
</mapper>